<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Template for Anywherelan.app, @VERSION@ and @MACOS_MIN_VERSION@ are substituted by build.sh -->
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Anywherelan</string>
	<key>CFBundleExecutable</key>
	<string>awl-tray</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.anywherelan.awl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Anywherelan</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>LSMinimumSystemVersion</key>
	<string>@MACOS_MIN_VERSION@</string>
	<key>LSUIElement</key>
	<true/>
	<key>MDItemKeywords</key>
	<string>awl, awl-tray, anywherelan, VPN, mesh VPN, p2p</string>
</dict>
</plist>
